{% load staticfiles %}
{% load leaf %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{{ site.name }}{% endblock %}</title>
	<link href="http://fonts.googleapis.com/css?family=Condiment" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="{% static "stream/css/style.css" %}" />
</head>
<body>
<a href="http://leaves-cms.org" class="watermark"><img alt="leaves" src="{% static "leaves_logo_spring.png" %}" /></a>
<div id="container">
	<div id="header">
		<h1><a href="{% url home %}">{{ site.name }}</a></h1>
		<div style="clear:both;"></div>
	</div>
	{% get_navigation_pages as nav_pages %}
	{% if nav_pages %}
		<div id="nav">
			{% for page in nav_pages %}
			<a href="{{ page.url }}">{{ page }}</a>
			{% if not forloop.last %}<span class="spacer">&bull;</span>{% endif %}
			{% endfor %}
		</div>
	{% endif %}
	{% if messages %}
		<ul class="messages">
	        {% for message in messages %}
	        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	        {% endfor %}
		</ul>
	{% endif %}
	<div id="content">{% block content %}{% endblock %}</div>
	<div id="footer">{% block footer %}{% endblock %}</div>
</div>
</body>
</html>
